# This config file stores necessary test and other configuration parameters
---
testinfra:
  hosts:
    - "paramiko://analog:analog@localhost"

repo:
  uri:  https://github.com/analogdevicesinc/adi-kuiper-gen.git
  branch: master

packages:
  paths:
    files:
      - stage4/00-install-packages/00-packages
      - stage4/00-install-packages/00-packages-nr
      - stage4/00-install-packages/01-packages
      - stage4/00-install-packages/02-packages
      - stage5/00-install-extras/00-packages
      - stage6/01-install-packages/00-packages

services:
  default:
    - iiod
    - sshd

commands:
  default:
    - iio_info
    - osc

libraries:
  paths:
    files:
      - stage6/04-gnuradio-m2k/00-run.sh
  default:
    - libiio
    - libosc

devices:
  target:
    carrier: xxx
    daughter: xxx
  profiles:
    zed:
      fmcomms2:
        iio_devices:
          - ad7291
          - ad9361-phy
          - adf4351-udc-tx-pmod
          - adf4351-udc-rx-pmod
          - cf-ad9361-dds-core-lpc
          - cf-ad9361-lpc
      ad9467_fmc:
        iio_devices:
          - xadc
          - ad9517-4
          - cf-ad9467-core-lpc (buffer capable)
      adv7511:
        iio_devices:
          - xadc
    zc706:
      fmcomms2:
        iio_devices:
          - ad7291
          - ad9361-phy
          - xadc
          - adf4351-udc-tx-pmod
          - adf4351-udc-rx-pmod
          - cf-ad9361-dds-core-lpc (buffer capable)
          - cf-ad9361-lpc (buffer capable)
      fmcomms5:
        iio_devices:
          - ad7291
          - ad9361-phy
          - ad9361-phy-B
          - xadc
          - cf-ad9361-dds-core-lpc (buffer capable)
          - cf-ad9361-dds-core-B
          - cf-ad9361-A (buffer capable)
          - cf-ad9361-B
      daq2:
        iio_devices:
          - ad7291
          - xadc
          - ad9523-1
          - axi-ad9680-hpc (buffer capable)
          - axi-ad9144-hpc (buffer capable)
      daq3:
        iio_devices:
          - ad7291
          - xadc
          - ad9528
          - axi-ad9680-hpc (buffer capable)
          - axi-ad9152-hpc (buffer capable)
      fmcadc2:
        iio_devices:
          - xadc
          - axi-ad9625-hpc (buffer capable)
      fmcadc3:
        iio_devices:
          - xadc
          - ada4961
          - axi-ad9625-hpc (buffer capable)
      cn0506_mii:
        iio_devices:
          - xadc
      cn0506_rgmii:
        iio_devices:
          - xadc
      ad6676evb:
        iio_devices:
          - xadc
          - axi-ad6676-hpc (buffer capable)
      ad9265_fmc:
        iio_devices:
          - xadc
          - ad9517-4
          - axi-ad9265-core-lpc (buffer capable)
      ad9434_fmc:
        iio_devices:
          - xadc
          - ad9517-4
          - axi-ad9434-core-lpc (buffer capable)
      ad9739a_fmc:
        iio_devices:
          - xadc
          - adf4350
          - axi-ad9739a-hpc (buffer capable)
      dac_fmc_ebz:
        iio_devices:
          - xadc
          - hmc7044
          - axi-ad9172-hpc (buffer capable)
      adrv9009:
        iio_devices:
          - ad7291
          - xadc
          - ad9528-1
          - adrv9009-phy
          - axi-adrv9009-rx-obs-hpc (buffer capable)
          - axi-adrv9009-tx-hpc (buffer capable)
          - axi-adrv9009-rx-hpc (buffer capable)
      adv7511:
        iio_devices:
          - xadc
      fmcjesdadc1:
        iio_devices:
          - ad7291
          - xadc
          - ad9517-1
          - axi-ad9250-hpc-0 (buffer capable)
          - axi-ad9250-hpc-1 (buffer capable)
      fmcomms11:
        iio_devices:
          - ad7291
          - xadc
          - adl5240
          - hmc1119
          - adf4355
          - axi-ad9625-hpc (buffer capable)
          - axi-ad9162-hpc (buffer capable)
    zc702:
      adv7511:
        iio_devices:
          - xadc
      fmcomms2:
        iio_devices:
          - ad7291
          - ad9361-phy
          - xadc
          - adf4351-udc-tx-pmod
          - adf4351-udc-rx-pmod
          - cf-ad9361-dds-core-lpc (buffer capable)
          - cf-ad9361-lpc (buffer capable)
      fmcomms5:
        iio_devices:
          - ad7291
          - ad9361-phy
          - ad9361-phy-B
          - xadc
          - cf-ad9361-dds-core-lpc (buffer capable)
          - cf-ad9361-dds-core-B
          - cf-ad9361-A (buffer capable)
          - cf-ad9361-B





